<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin_login.css">
    <link rel="shortcut icon" href="/img/logo.png" />
    <title>forget password</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>forget password</h2>
        </div>
        <form  action="/forget-password-verify" name="f1" id="form" class="form" method="post">
         
                

                <div class="input-box">
                    <span class="label">OTP</span>
                    <div class=" flex-r input">
                    <input type="number" name="otp" id="inotp"  >
                    <i class="fas fa-at"></i>
                    </div>
                    <small id="potp" style="color: red;"></small>
                    </div>
  
           
           
           <div class="ac">
            <p class="acp">Don't have an account?<a href="/register">sign Up</a></p>
           </div>
  
            <input class="btn" type="submit" onclick="" value="login">
            
          </form>
  
        </div>
      </div>
    </div>
    
</body>
</html>