<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin_login.css">
    <link rel="shortcut icon" href="/img/logo.png" />

  <!-- script for validation -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<!-- script for validation -->


    <title>Admin logoin</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>User Login</h2>
        </div>
        <form  action="/otpLogin" name="f1" id="passMob" class="form" method="post">

          <% if (numberStatus) { %>
            <div>
              <h5 style="color: rgb(255, 49, 49);">Number is not registered</h5>
            </div>
            <% } %>
                <div class="input-box">
                <span class="label">E-mail</span>
                <div class=" flex-r input">
                <input type="number" name="number" id="inpe" placeholder="62******16" >
                <i class="fas fa-at"></i>
                </div>
                <small id="pemail" style="color: red;"></small>
                </div>
           <div class="ac">
            <p class="acp">Don't have an account?<a href="/register">sign Up</a></p>
           </div>
  
            <input class="btn" type="submit"  value="Request for otp">
            
          </form>
  
        </div>
      </div>
    </div>
    <style>
      .error{
        color: red;
      }
    </style>
</body>
<script src="/js/validation.js"></script>
</html>